In [2]:
import pandas as pd
import numpy as np
from matplotlib import pylab as plt
from sklearn.ensemble import RandomForestClassifier
%matplotlib inline

In [3]:
# pathの指定
path = '/Users/satoki_doi/datasets/redhat/'

In [6]:
# # # データの読み込み
# # people 
# people_tmp = path + "people.csv"
# people = np.genfromtxt(people_tmp, delimiter=",")

# # train
# act_train_tmp = path + "act_train.csv"
# act_train = np.genfromtxt(act_train_tmp, delimiter=",")

# # sample_sub
# sample_tmp =  path + "sample_submission.csv"
# sample_submission = np.genfromtxt(sample_tmp, delimiter=",")

In [4]:
people_tmp = path + "people.csv"
people = pd.read_csv(people_tmp)

# train
act_train_tmp = path + "act_train.csv"
act_train = pd.read_csv(act_train_tmp)

# sample_sub
sample_tmp =  path + "sample_submission.csv"
sample_submission = pd.read_csv(sample_tmp)

In [37]:
act_test_tmp = path + "act_test.csv"
act_test = pd.read_csv(act_test_tmp)

In [5]:
act_train.head()

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome
0,ppl_100,act2_1734928,2023-08-26,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,0
1,ppl_100,act2_2434093,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
2,ppl_100,act2_3404049,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
3,ppl_100,act2_3651215,2023-08-04,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
4,ppl_100,act2_4109017,2023-08-26,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0

In [6]:
activity_category = act_train['activity_category'].unique() # activity_categoryごとのリスト

In [7]:
activity_category

array(['type 4', 'type 2', 'type 3', 'type 5', 'type 1', 'type 7', 'type 6'], dtype=object)

In [28]:
# 訓練データに切り分ける
train_feature = act_train.ix[:, 3:-2]
train_label = act_train.ix[:,-1]

In [20]:
train_feature.head()

,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9
0,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# model 
model = RandomForestClassifier()

In [30]:
# dumy変数化
dummy_actcate =  pd.get_dummies(train_feature["activity_category"]) 
# dummy_char10 =  pd.get_dummies(train_feature["char_10"])

In [21]:
# concat
# drop col
train_feature = train_feature.drop("activity_category", axis=1)

In [22]:
df = pd.concat((train_feature, dummy_actcate), axis=1)

In [23]:
df.head()

,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,type 1,type 2,type 3,type 4,type 5,type 6,type 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [34]:
# dummy 変数化
# for 文で回す 
for col in train_feature.columns:
    dummy =  pd.get_dummies(train_feature[col]) 
    train_feature = pd.concat((train_feature, dummy), axis=1)
    train_feature =     train_feature.drop(col, axis=1)

In [35]:
train_feature.head()

,type 1,type 2,type 3,type 4,type 5,type 6,type 7,type 1,type 10,type 11,...,type 18,type 19,type 2,type 3,type 4,type 5,type 6,type 7,type 8,type 9
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
model.fit(train_feature, train_label)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [38]:
act_test

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10
0,ppl_100004,act1_249281,2022-07-20,type 1,type 5,type 10,type 5,type 1,type 6,type 1,type 1,type 7,type 4,NaN
1,ppl_100004,act2_230855,2022-07-20,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 682
2,ppl_10001,act1_240724,2022-10-14,type 1,type 12,type 1,type 5,type 4,type 6,type 1,type 1,type 13,type 10,NaN
3,ppl_10001,act1_83552,2022-11-27,type 1,type 20,type 10,type 5,type 4,type 6,type 1,type 1,type 5,type 5,NaN
4,ppl_10001,act2_1043301,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
5,ppl_10001,act2_112890,2022-11-27,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 4987
6,ppl_10001,act2_1169930,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
7,ppl_10001,act2_1924448,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
8,ppl_10001,act2_1953554,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
9,ppl_10001,act2_1971739,2022-11-28,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
10,ppl_10001,act2_2839282,2022-10-16,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
11,ppl_10001,act2_2889351,2022-11-27,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
12,ppl_10001,act2_3238933,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
13,ppl_10001,act2_3384798,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
14,ppl_10001,act2_3701358,2022-11-27,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
15,ppl_10001,act2_3715695,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
16,ppl_10001,act2_3734085,2022-11-27,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
17,ppl_10001,act2_3961391,2022-10-16,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
18,ppl_10001,act2_4167474,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
19,ppl_10001,act2_4397847,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
20,ppl_10001,act2_4649285,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
21,ppl_10001,act2_538607,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
22,ppl_10001,act2_584216,2022-11-27,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
23,ppl_10001,act2_596561,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
24,ppl_10001,act2_649143,2022-11-27,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
25,ppl_10001,act2_659237,2022-10-16,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
26,ppl_10001,act2_688604,2022-11-28,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
27,ppl_100010,act1_218751,2022-09-01,type 1,type 2,type 1,type 9,type 3,type 1,type 3,type 2,type 2,type 1,NaN
28,ppl_100010,act1_383524,2022-09-01,type 1,type 2,type 1,type 5,type 3,type 1,type 3,type 1,type 2,type 1,NaN
29,ppl_100010,act2_3973689,2022-09-01,type 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498657,ppl_99963,act2_3146168,2023-07-20,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 465
498658,ppl_99963,act2_3435600,2023-07-01,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 400
498659,ppl_99963,act2_3648161,2023-07-20,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 465
498660,ppl_99963,act2_4609368,2023-06-30,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 400
498661,ppl_99963,act2_488594,2023-07-20,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 465
498662,ppl_99963,act2_568974,2023-06-25,type 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 2
498663,ppl_99975,act1_187412,2023-06-28,type 1,type 1,type 6,type 2,type 2,type 1,type 1,type 1,type 2,type 1,NaN
498664,ppl_99975,act2_1907199,2023-06-29,type 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3
498665,ppl_99975,act2_3825329,2023-06-29,type 7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 194
498666,ppl_99975,act2_4540493,2023-06-29,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498667,ppl_99975,act2_4716058,2023-06-29,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 390
498668,ppl_99986,act2_1374659,2022-09-15,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498669,ppl_99986,act2_4191036,2022-09-15,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 437
498670,ppl_99997,act2_1893941,2022-10-18,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498671,ppl_99997,act2_2245699,2023-08-15,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498672,ppl_99997,act2_2316472,2023-06-08,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498673,ppl_99997,act2_2372813,2023-04-22,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498674,ppl_99997,act2_2433185,2022-09-24,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498675,ppl_99997,act2_2576346,2022-11-29,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498676,ppl_99997,act2_2718841,2022-11-25,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498677,ppl_99997,act2_2902742,2022-09-13,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498678,ppl_99997,act2_3448131,2023-06-08,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498679,ppl_99997,act2_3757705,2022-08-09,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498680,ppl_99997,act2_4149173,2022-11-05,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498681,ppl_99997,act2_4355610,2023-06-10,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498682,ppl_99997,act2_4367092,2023-04-22,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498683,ppl_99997,act2_4404220,2022-11-12,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498684,ppl_99997,act2_448830,2022-08-02,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498685,ppl_99997,act2_450133,2022-08-02,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498686,ppl_99997,act2_847967,2022-10-15,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1

In [39]:
# 同様にtestデータに切り分ける
test_feature = act_test.ix[:, 3:-2]
test_label = act_test.ix[:,-1]

In [40]:
for col in test_feature.columns:
    dummy =  pd.get_dummies(test_feature[col]) 
    test_feature= pd.concat((test_feature, dummy), axis=1)
    test_feature = test_feature.drop(col, axis=1)

In [45]:
len(test_feature.columns)

141

In [47]:
train_feature.columns

Index(['type 1', 'type 2', 'type 3', 'type 4', 'type 5', 'type 6', 'type 7',
       'type 1', 'type 10', 'type 11',
       ...
       'type 18', 'type 19', 'type 2', 'type 3', 'type 4', 'type 5', 'type 6',
       'type 7', 'type 8', 'type 9'],
      dtype='object', length=165)

In [46]:
test_feature.columns

Index(['type 1', 'type 2', 'type 3', 'type 4', 'type 5', 'type 6', 'type 7',
       'type 1', 'type 10', 'type 11',
       ...
       'type 17', 'type 18', 'type 2', 'type 3', 'type 4', 'type 5', 'type 6',
       'type 7', 'type 8', 'type 9'],
      dtype='object', length=141)

In [41]:
print(model.score(test_feature, test_label))

ValueError: Number of features of the model must  match the input. Model n_features is 165 and  input n_features is 141